.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.panel {
  flex-direction: column;
}

.profilePanel {
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

.profileImage {
  width: 200px;
  border-radius: 50%;
}

.titleText {
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.headerCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.iconCard {
  width: 50px;
}

.competencePanel {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 25px;
}

.competenceCard {
  width: 300px;
}

.technologiesPanel {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 25px;
}

.technologyCard {
  width: 150px;
}
